a{
	font-family: "Open Sans Condensed", "Arial", sans-serif;
}


body{
    background-color: #F2FFFC;
}
.titulo-principal {
	text-align: center;
	background-color: #4886d8;
	color: #FFF;
	padding: 25px;
	border-bottom: 8px solid black;
	font-size: 60px;
	text-transform: uppercase;
}
h1,h2{
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}
.rodape {
	background-color: #000;
    color: #F2FFFC;
    padding: 20px;
}
main{
	float: left;
	width:100%;
	padding-bottom: 80px;
}
footer{
	clear: both;
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
}
.container {
	width: 85%;
	margin: auto;
	padding: 30px 0;
	margin-top: 12%;
}
h2{
    font-size: 30px;
    clear: both;
	margin-left: 15%;
	
}
.img-principal{
    width: 30%;
    height: 30%;
    margin-left: 30%;
}
.botao{
    width: 150px;
    height: 30px;
    display: block;
    margin-left: 40%;
    margin-top: 100px;
}
.navegacao-site {
	text-align: center;
	background-color: #4886d8;
	color: #F2FFFC;
    padding: 20px;
}
.navegacao-site a {
	color: inherit;
	font-family: "Open Sans Condensed", sans-serif;
	text-transform: lowercase;
}
.navegacao-site h2 {
	font-size: 30px;
    margin-bottom: 25px;
    margin-left: auto;
    padding-bottom: 30px;
}
.navegacao-site{
	float:right;
    width: 20%;
    height: 40%;
	box-sizing: border-box;
	border-left: 10px solid black;
    border-bottom: 10px solid black;
    position: absolute;
    top: 0;
    right: 0;
}
.navegacao-site li{
    padding-bottom: 30px;
    font-size: 20px;
}
html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }

#map { 
	height: 60%;
	width: 80%;
	border: 5px solid black; 
	margin: auto;
	margin-top: 50px;
}
.subtitulo{
	margin-left: 45%;
	margin-top: 10%;
}

#combo-box{
	display: block;
	margin: auto;
	margin-top:20px;
	width: 30%;
	height: 5%;
	margin-bottom: 30px;
}
.select{
	display: block;
	margin-left:35%;
	margin-top: 30px;
}

#botao2{
	display: none;
	margin-left: 43%;
	width: 15%;
	height: 4%;
	margin-bottom: 20px;
}



td, th {


	border: 1px solid #ccc;

	text-align: center;
}

th{
	font-weight: bold;
	background-color: #EEE;

	font-size: 70%;
	padding-right: 5%;
	padding-top: 5%;
	padding-bottom: 5%;
}
#tabel{
	width: 40%;
	margin-bottom : .5em;
    table-layout: fixed;
	margin:auto;

}


#map2 { 
	height: 80%;
	width: 80%;
	border: 5px solid black; 
	margin: auto;
	margin-top: 50px;
}